<div class="top-first-container">
  <h2 class="title">プログラミングで何か作ってみたいけど......</h2>
  <div class="card-deck contents-padding">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">そもそもなにから手をつければいいの？</h5>
        <p class="card-text">何か作ってみたいけど、パソコン選びや、どの言語から勉強したらいいのかわからない...</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">質問したいけど、何を質問すればいいのかさえわからない！</h5>
        <p class="card-text">質問サイトで質問したけど、要領を得ない回答ばかり...</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ちゃんと勉強したいけど、お金はなるべくかけたくない...</h5>
        <p class="card-text">基礎から勉強したいけど、プログラミングスクールはお金がかかる...</p>
      </div>
    </div>
  </div>
</div>