<footer class="footer">
  <nav class="navbar container">
    <h2 class="navbar-brand">We're here to help</h2>

    <ul class="navbar-nav">
      <li class="nav-item">私たちはプログラミングで困惑する人を減らし人類総エンジニア社会を目指します</li>
    </ul>
  </nav>
</footer>