<header class="header">
  <nav class="navbar container">
    <h1 class="navbar-brand">GeekTown</h1>

    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item active"><%= link_to 'マイページ', user_path(current_user), class: 'nav-link' %></li>
        <li class="nav-item active"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
      <% else %>
        <li class="nav-item active"><%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %></li>
        <li class="nav-item active"><%= link_to 'アカウント登録', new_user_registration_path, class: 'nav-link' %></li>
      <% end %>
    </ul>
  </nav>
</header>